#info.record .box{width: auto!important;height: auto!important;}
#info.record .box .add{border: 0;font-size: 18px;color: #333;width: 50%;text-align: left}
#info.record article .box table td, #info.record article .box table th{width: auto;padding: 10px 15px}
#info.record article .box table td.manage,#info.record article .box table td.manage a{color: #37a6f4}
#info.apply article li.clearfix div{height: 40px;line-height: 40px;}
.temperature{margin-left: 35px;color: #37a6f4;font-size: 16px;cursor: pointer}
.edit{font-size: 16px;color: #37a6f4;padding: 10px 7px 0; cursor: pointer}
.del{font-size: 16px;color: #ed3333;padding: 10px 7px 0; cursor: pointer}